{% extends 'base.html' %}

{% block content %}
<!-- Landing Title -->
<section class="landing-area bg-secondary">
    <h1 class="landing-centered">Car Iventory</h1>
    <h3 class="text-danger">Find old vintage cars hot! hot! hot!</h3>
    <img src="../../static/images/download (1).jfif" alt="Black 69 Mustang" class="img-fluid max-width: 100% height:auto  ">
    <h3 class="landing-centered text-danger">Old vintage cars in abundance!!</h3>

    <img src="../../static/images/download (2).jfif" alt="69 car" class="img-fluid ">

    <h3 class="landing-centered text-danger">Sign up for exclusives!</h3>

    <img src="../../static/images/download (3).jfif" alt="69 car" class="img-fluid ">

</section>


{% endblock %}